
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRiskLabel">Create or edit a Risk</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.risk.id">-->
            <!--<label for="id" data-translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
                    <!--ng-model="vm.risk.id" readonly />-->
        <!--</div>-->

        <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre</label>
            <input required name="title"
                   ng-model="vm.risk.name"
                   type="text">
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </md-input-container>

        <div class="form-group">
            <label class="control-label">Probabilidad</label>
            <select class="form-control" name="project" ng-model="vm.probability" ng-change="vm.validateTag()" >
                <option value="" disabled>Probabilidad</option>
                <option ng-repeat="probability in vm.probabilities" value="{{probability.tag}}">{{probability.name}}</option>
            </select>

        </div>
        <div class="form-group">
            <label class="control-label" >Impacto</label>
            <select class="form-control" name="project" ng-model="vm.impact" ng-change="vm.validateTag()" >
                <option value="" disabled>Impacto</option>
                <option ng-repeat="impact in vm.impacts" value="{{impact.tag}}">{{impact.name}}</option>
            </select>
        </div>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Tag</label>
            <input disabled name="title"
                   ng-model="vm.risk.tag"
                   type="text">
        </md-input-container>



        <!--<div class="form-group">
            <label  for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" ng-model="vm.risk.projectId" ng-options="project.id as project.name for project in vm.projects"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.project.$invalid">
            <p class="help-block"
                ng-show="editForm.project.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>-->
    </div>
    <div class="modal-footer">
        <md-button type="button" class="md-raised" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </md-button>
        <md-button type="submit"  class="md-raised md-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </md-button>
    </div>
</form>
