
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectLabel">CREAR O ELIMINAR PROYECTO</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <!--<div class="form-group" ng-show="vm.project.id">-->
        <!--<label for="id">ID</label>-->
        <!--<input type="text" class="form-control" id="id" name="id"-->
        <!--ng-model="vm.project.id" readonly />-->
        <!--</div>-->

        <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre</label>
            <input required name="title"
                   ng-model="vm.project.name"
                   type="text">
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Descripción</label>
            <input required name="title"
                   ng-model="vm.project.description"
                   type="text">
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Tecnología</label>
            <input required name="title"
                   ng-model="vm.project.technology"
                   type="text">
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Dispositivo</label>
            <input required name="title"
                   ng-model="vm.project.device"
                   type="text">
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </md-input-container>

        <!--<div class="form-group">
            <label data-translate="proyectoProcesosApp.project.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" ng-model="vm.project.companyId" ng-options="company.id as company.name for company in vm.companies"             required>
                <option value=""></option>
            </select>
        </div>-->
        <!--<div ng-show="editForm.company.$invalid">
            <p class="help-block"
                ng-show="editForm.company.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>-->
    </div>
    <div class="modal-footer">
        <md-button type="button" class="md-raised" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </md-button>
        <md-button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="md-raised md-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </md-button>
    </div>
</form>
