<div class="header">
    <div class="container">
        <div class="row">
            <h2 style="text-align:center">{{vm.company.name}}</h2>
            <div class="col-xs-4 no-padding-left">
                <md-button type="submit"
                        ui-sref="company"
                        class="md-icon-button">
                    <md-icon md-svg-src="/content/images/back.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <md-card>
            <md-card-title>
            </md-card-title>
            <md-card-content>
               <div class="row">
                   <div class="col-md-6">
                       <div class="row form-detail">
                           <div class="col-md-6">
                               <dt><span>Name:</span></dt>
                           </div>
                           <div class="col-md-6">
                               <span>{{vm.company.name}}</span>
                           </div>
                       </div>
                       <div class="row form-detail">
                           <div class="col-md-6">
                               <dt><span>Description:</span></dt>
                           </div>
                           <div class="col-md-6">
                               <span>{{vm.company.description}}</span>
                           </div>
                       </div>
                       <div class="row form-detail">
                           <div class="col-md-6">
                               <dt><span>Telefono:</span></dt>
                           </div>
                           <div class="col-md-6">
                               <span>{{vm.company.telefono}}</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="row form-detail">
                           <div class="col-md-6">
                               <dt><span>Email:</span></dt>
                           </div>
                           <div class="col-md-6">
                               <span>{{vm.company.email}}</span>
                           </div>
                       </div>
                       <div class="row form-detail">
                           <div class="col-md-6">
                               <dt><span>Logo:</span></dt>
                           </div>
                           <div class="col-md-6">
                               <div style="background: url({{vm.company.logo}}) no-repeat center center;background-size: cover;width: 100px; height: 100px;">

                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button type="button" ui-sref="company-detail.edit({id:vm.company.id})" class="md-raised md-primary">
                    <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
<div  class="container" style="margin-bottom: 4em">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="vm.projects.length == 0">
                <h2 style="text-align:center;">No existen proyectos registrados.</h2>
                <div layout="row" layout-align="center center">
                    <md-button type="button" ui-sref="company.new-project({id:vm.company.id})" class="md-accent md-fab">
                        <md-icon md-svg-src="/content/images/add.svg"></md-icon>
                    </md-button>
                </div>
            </div>
            <div ng-if="vm.projects.length > 0">
                <h2 style="text-align:center;">PROYECTOS</h2>
                <div layout="row" layout-align="center center">
                    <md-button type="button" ui-sref="company.new-project({id:vm.company.id})" class="md-accent md-fab">
                        <md-icon md-svg-src="/content/images/add.svg"></md-icon>
                    </md-button>
                </div>
            </div>
            <ul ng-if="vm.areProjects" class="dynamic-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
                <li data-ng-repeat="project in vm.projects track by project.id" class="grid">
                    <md-card>
                        <md-card-actions layout="row" layout-align="end center">
                            <label style="font-size: 20px">{{project.name}}</label>
                            <md-menu>
                                <md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                                    <md-icon><i class="material-icons">more_vert</i></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ui-sref="project-detail({id:project.id})">
                                            <md-icon md-menu-align-target><i class="material-icons">chrome_reader_mode</i></md-icon>
                                            Detalles
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ui-sref="company-detail.editProject({id:project.id})">
                                            <md-icon md-menu-align-target><i class="material-icons">edit</i></md-icon>
                                            Editar
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.deleteProject(project.id)">
                                            <md-icon><i class="material-icons">delete</i></md-icon>
                                            Eliminar
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-card-actions>
                    </md-card>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--<md-tabs md-dynamic-height>-->
    <!--<md-tab label="Riesgos">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div>-->
                    <!--<md-button type="button" ui-sref="company-detail.newRisk({id:vm.company.id})" class="md-raised md-primary">-->
                        <!--<span class="hidden-sm-down"> Agregar riesgo</span>-->
                    <!--</md-button>-->
                <!--</div>-->
                <!--<div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</md-tab>-->
    <!--<md-tab label="Treas">-->

    <!--</md-tab>-->
<!--</md-tabs>-->
