.header{
    height: 150px;
    background-color:#3F51B5;
    color: white;
    padding-top: 2em;
}

.form-detail{
    padding-bottom: 1em;
    padding-top: 1em;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px!important;
    border: 1px solid transparent;
}
